body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.container{
  width: 60%;
  margin: 0  auto;
  padding: 50px auto;
}

.header{
  width:100%;
  height: 700px;
 background-image: url(/header.png);
 background-size: cover;
 margin-bottom: 50px;
}

.Nav{
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
}
.Nav ul {
  padding: 0;
}

.Nav ul li {
  display: inline-block;
  list-style-type: none;
  cursor: pointer;
 color: #fff;
 font-size: 25px;
  padding: 10px 15px;
}

.Nav ul li:hover{
  background:#233eec;
}
.logo{
  width:50%;
  float: left;
  color: #fff;
  padding: 10px 15px;
}

.leftSide{
  color:#fff;
  width:40%;
  float: left;
  font-size: 40px;
}

.Data{
  padding-top:200px 
}

.rightSide{
  color:#fff;
  width:40%;
  float: right;
  padding: 20px 25px;
  background: rgba(0, 0, 0, 0.7);
}
.rightSide p{
  color: #ccc
}
.rightSide button{

  /* width: 100px; */
 cursor: pointer;
 background-color:#233eec;
 color: #fff;
 outline: 0;
 border: 0;
 padding: 10px 5px;
 margin-top: 10px;

}
span.letter{
  color:#233eec;
}
.text-center{
  text-align: center;
}



.ListItems{
  background: #fff;
  color: #46529d;
  padding-bottom: 30px;
}

.ListItems p{
  margin: 0;
  text-align: center;
  padding: 10px 0;

}

.ListItems span{
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  
}

.ListItems span.title{
/* background: #104355; */
color: #104355;
text-align: left;

}

.ListItems span.name,
form input[type=text]
{
 width: 80%;
}



.ListItems span.action{
 
  color: #f00;
  cursor: pointer;
  font-weight: bold;
  
}


form input[type=submit]
{
 width: 10%;
 cursor: pointer;
 background-color:#233eec;
 color: #fff;
 
}

form input{
  padding: 10px;
  background: #fff;
  border: transparent;
  border:1px solid #ccc;
  color: #233eec;
}

form input::placeholder{
  color: #233eec;
  font-size: 16px;

}






